/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #202533;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Estilo do cabeçalho */
header {
    background-color: #2C3E50;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    color: #ECF0F1;
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
}

header .nav {
    display: flex;
    gap: 20px;
}

header .nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

header .nav a:hover {
    background-color: #555;
    border-radius: 5px;
}

/* Estilos para telas menores que 768px */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    header .nav {
        flex-direction: column;
        gap: 10px;
    }

    header .nav a {
        padding: 5px;
    }
}

.inicio-content {
    text-align: left;
    margin-left: 20px; 
}
